.page-full {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-overflow-scrolling: touch;

  @include mobile {
    height: auto;
    overflow-y: visible;
  }

  &:focus {
    outline: none;
  }
}

.popup-shown .page-full,
.menu-opened .page-full {
  position: fixed;
  overflow: hidden;
}
