.region-short {
  background-color: $vivid-tangerine;
  z-index: 0;
}

.region-short__content {
  position: absolute;
  top: size-vh(68px, $height-desktop);
  left: 0;

  @media (orientation: landscape) {
    top: size-vh(120px, $height-desktop);
    width: calc(100% - 47vh);
  }

  @media (orientation: portrait) {
    width: 100%;
    top: auto;
    bottom: size(70px);

    @include mobile {
      position: static;
      padding-bottom: 70px;
    }
  }
}

.region-short__content h1 {
  width: 100%;
  margin: 0;
  margin-bottom: size-vh(38px, $height-desktop);
  @include font-xxl;

  @include tablet {
    @include font-medium;
    max-width: 500px;
  }

  @include mobile {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}

.animated {
  .region-short__content h1 {
    @include animated-title;
  }

  .region-short__content > :not(:first-child) {
    @include animated-content;
  }

  .region-short .region-short__cropped-image {
    @include mobile {
      opacity: 0;
      transform: translateY(-15vh);
      animation-name: main-image-top;
    }
  }
}

.region-short__content p {
  width: 100%;
  max-width: size(650px);
  margin: 0;
  @include font-small;

  @include mobile {
    text-align: center;
    @include font-xs;
  }
}

.region-short__cropped-image {
  @media (orientation: landscape) {
    top: size(-1px);
    right: size(-1px);
    width: size-vh(778px, $height-desktop);
    height: calc(100vh + 2px);
  }

  @media (orientation: portrait) {
    position: relative;
    top: -5vw;
    left: size(-2px);
    width: calc(100vw + 4px);
    height: calc(487 / 375 * 100vw + 6px);

    @include mobile {
      top: size(-1px);
    }
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%; // img height / svg height * 100%
  }

  svg {
    fill: $vivid-tangerine;

    @media (orientation: landscape) {
      &:nth-of-type(1) {
        display: block;
      }

      &:nth-of-type(2) {
        display: none;
      }
    }

    @media (orientation: portrait) {
      &:nth-of-type(1) {
        display: none;
      }

      &:nth-of-type(2) {
        display: block;
      }
    }
  }
}

.region-short__image-wrapper {
  background-color: $vivid-tangerine;
}
