.share {
  background: $goldenrod;
  position: relative;

  @include desktop-only {
    height: size-desktop(911px);
  }

  @include mobile {
    min-height: 957px;
  }

  @include mobile-small {
    min-height: 817px;
  }
}

.share__image {
  width: 1440px;
  height: 1144px;
  z-index: 0;
  bottom: 0;

  img {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }

  @include desktop-only {
    width: 100%;
    padding-top: 63.3%;
    height: 0;
    top: 0;

    img {
      margin-top: -79.5%;
    }
  }

  @include tablet {
    width: 1199px;
    height: 953px;
  }

  @include tablet-media {
    width: 1000px;
    height: 794px;
  }

  @include mobile {
    width: 100%;
    height: 957px;
  }

  @include mobile-small {
    width: 100%;
    height: 817px;
  }
}

.share__block {
  float: right;
  width: size-desktop(587px);
  position: relative;
  padding-top: 5px;
  margin-top: 390px;
  margin-bottom: 436px;


  @include desktop-only {
    margin-top: size-vh(390px, $height-desktop);
    margin-bottom: size-vh(436px, $height-desktop);
  }

  @include tablet {
    margin-top: 410px;
    margin-bottom: 200px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @include tablet-media {
    margin-bottom: 30px;
    margin-top: 500px;

  }

  @include mobile {
    display: block;
    width: 100%;
    padding-top: 0;
    margin-top: 130px;
  }
}

.share__title {
  margin: 0;
  @include font-xxl();
  top: 178px;
  left: 0;
  width: size-desktop(650px);
  box-sizing: border-box;
  margin-left: size-desktop(121px);
  position: absolute;

  p {
    margin: 0;
  }

  @include desktop-only {
    top: 19.3%;
  }

  @include tablet {
    @include font-xl();
    top: 120px;
    left: 4%;
    width: 670px;
  }

  @include tablet-media {
    top: 150px;
    left: 0;
    @include  font-large();
    width: 400px;
  }

  @include mobile {
    font-size: 32px;
    line-height: 36px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 31.5%;
    text-align: center;
    width: 329px;
  }

  @include mobile-small {
    margin-top: 80px;
  }
}

.share__text {
  margin: 0;
  @include font-medium();

  @include tablet {
    text-align: right;
  }

  @include mobile {
    @include font-small();
    text-align: center;
  }
}

.share__list {
  position: absolute;
  bottom: 0;
  left: 200px;

  @include desktop-only {
    left: 35%;
  }

  @include tablet {
    position: relative;
    left: auto;
  }

  @include mobile {
    position: relative;
    bottom: auto;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;

    li + li {
      margin-left: 16px;
    }
  }
}
