extends pug/layout.pug

block content
  section.buying
    h1.visually-hidden История закупок
    .buying__block.buying__block--main.container
      h2.buying__title-main При закупке товаров, работ,&nbsp;услуг в&nbsp;АО «РВК» мы руководству&shy;емся
      ul.buying__list-main
        li
          p Конституцией Российской Федерации
          p Гражданским кодексом Российской Федерации
        li
          p Федеральным законом от 18.07.2011 № 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц»
        li
          p Федеральным законом от 26.07.2006 № 135-ФЗ «О защите конкуренции»
          p Положением о закупочной деятельности АО «РВК»
        li
          p Другими федеральными законами и иными нормативными правовыми актами Российской Федерации
    .buying__block.buying__block--grey
      .container
        h2.buying__title В закупочной деятельности следуем следующим принципам:
        ul.buying__list
          li Информационная открытость закупки.
          li Прозрачность закупки, что предполагает возможность мониторинга и контроля закупочной деятельности на любом этапе.
          li Равноправие, справедливость, отсутствие дискриминации и необоснованных ограничений конкуренции по отношению к участникам закупки, в том числе запрет координации АО «РВК» деятельности участников закупки, создания участнику закупки преимущественных условий участия.
          li Экономически эффективное расходование денежных средств на приобретение товаров, работ, услуг и реализация мер, направленных на сокращение издержек
          li Отсутствие ограничения допуска к участию в закупке путем установления неизмеряемых требований к участникам закупки.
          li Использование преимущественно конкурентных процедур выбора поставщиков (исполнителей, подрядчиков).
          li Информацию о текущих закупках АО «РВК» и его дочерних компаний можно найти путем поиска на официальном сайте для размещения информации о закупках отдельными видами юридических лиц
            a(href="zakupki.gov.ru") zakupki.gov.ru.
    .buying__block.container
      h2.buying__title Документы
      ul.buying__links
        li.link-download
          a(href="#" download) Положение о закупочной деятельности АО «РВК»
          span 1 MB
        li.link-download
          a(href="#" download) Нормативы закупок отдельных видов товаров, работ, услуг АО&nbsp;«РВК»
          span 1 MB
        li.link-download
          a(href="#" download) Перечень товаров, работ, услуг (в том числе инновационной продукции, высокотехнологичной продукции) для нужд АО «РВК», закупки которых осуществляются у субъектов малого и среднего предпринимательства
          span 1 MB
    .buying__block.buying__block--table.container
      h2.buying__title Все закупки
      p.buying__descr В соответствии с Распоряжением Правительства Российской Федерации от 30 марта 2018 г. № 577&#8209;р в 2018 АО РВК будет выделена субсидия из федерального бюджета на финансовое обеспечение информационной, организационно&#8209;технической и экспертно-аналитической поддержки реализации Национальной технологической инициативы (НТИ). Все закупки проводимые в рамках реализации НТИ будут финансироваться из указанной субсидии.
      table.buying__table
        tr
          th
            p Дата
          th
            p Название
          th
            p Тип
        tr
          td
            p 04.06.2019
          td
            p Поставка универсального шлюза безопасности
          td
            a(href="#" download) Запрос котировок в электронной форме, участниками которого могут быть только субъекты малого и среднего предпринимательства
            a(href="#" download) Запрос предложений
        tr
          td
            p 04.06.2019
          td
            p Координационное сопровождение конкурса журналистики «Tech in Media 19»
          td
            a(href="#" download) Запрос предложений
        tr
          td
            p 04.06.2019
          td
            p Организация кейтеринга
          td
            a(href="#" download) Запрос котировок в электронной форме, участниками которого могут быть только субъекты малого и среднего предпринимательства
        tr
          td
            p 04.06.2019
          td
            p Производство маркетинговых и печатных материалов
          td
            a(href="#" download) Запрос котировок в электронной форме, участниками которого могут быть только субъекты малого и среднего предпринимательства
            a(href="#" download) Поставка универсального шлюза безопасности
        tr
          td
            p 04.06.2019
          td
            p Организация и техническое сопровождение проведения конкурса отдельных заданий «Ice Vision» в целях реализации Национальной технологической инициативы
          td
            a(href="#" download) Запрос котировок в электронной форме, участниками которого могут быть только субъекты малого и среднего предпринимательства
      .buying__paginator
        a.buying__link.buying__link--prev(href="#" aria-label="Предыдущая страница")
          +svg("arrow-right", 25, 16)
        a.buying__link(href="#") 1
        a.buying__link.buying__link--current(href="#") 2
        a.buying__link(href="#") 3
        span ...
        a.buying__link(href="#") 4
        a.buying__link(href="#") 5
        a.buying__link(href="#") 6
        a.buying__link(href="#") 7
        a.buying__link(href="#") 8
        a.buying__link(href="#") 9
        a.buying__link(href="#") 10
        a.buying__link(href="#") 11
        a.buying__link(href="#") 12
        a.buying__link(href="#") 13
        a.buying__link(href="#") 14
        a.buying__link(href="#") 15
        a.buying__link(href="#") 16
        a.buying__link(href="#") 17
        a.buying__link(href="#") 18
        a.buying__link(href="#") 19
        a.buying__link(href="#") 20
        a.buying__link(href="#") 21
        a.buying__link(href="#") 22
        a.buying__link(href="#") 23
        a.buying__link(href="#") 24
        a.buying__link(href="#") 25
        a.buying__link.buying__link--next(href="#" aria-label="Следующая страница")
          +svg("arrow-right", 25, 16)
